.adv__wrapper {
  position: relative;
  padding: 20px 15px;
}

.adv__title {
  margin-bottom: 20px;
  text-align: center;
}

.adv__duplicate {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: $tablet-width) {
  .adv__wrapper {
    padding: 40px 45px;
  }

  .adv__title {
    margin-bottom: 50px;
  }

  .adv .swiper-button {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .adv__wrapper {
    padding: 100px 0;
  }

  .adv__duplicate {
    top: 93px;
  }

  .adv .swiper-button {
    display: block;
    top: 599px;
    right: 722px;
  }

  .adv .swiper-button-next {
    right: 681px;
  }
}
