.adv__wrapper {
  position: relative;
  padding: 20px 15px;
}

.adv__title {
  margin-bottom: 20px;
  text-align: center;
}

.adv__duplicate {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.adv__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.adv__item {
  position: relative;
  padding: 20px 10px;
  border: 1px solid rgb(2, 102, 193, 0.1);
}

.adv__item::before {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  left: 50%;
  width: 42px;
  height: 42px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);
  border: 1px solid $base-background-color;
}

.adv__item--safe::before {
  background-image: url("../../../__spritemap#sprite-level-1-icon-view");
}

.adv__item--expert::before {
  background-image: url("../../../__spritemap#sprite-crown-icon-view");
}

.adv__item--boots::before {
  background-image: url("../../../__spritemap#sprite-boots-blue-view");
}

.adv__item--path::before {
  background-image: url("../../../__spritemap#sprite-path-icon-view");
}

.adv__item--nature::before {
  background-image: url("../../../__spritemap#sprite-leaf-icon-view");
}

.adv__item h3 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-top: 62px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.adv__item p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}
