.advantages__wrapper {
  position: relative;
  padding: 20px 15px;
}

.advantages__title {
  margin-bottom: 19px;
  padding-top: 17px;
  text-align: center;
}

.advantages__duplicate {
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages__swiper .swiper-wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages__swiper .swiper-slide {
  position: relative;
  padding: 82px 9px 19px;
  width: 290px;
  background-color: $base-white-color;
  border: 1px solid rgb(2, 102, 193, 0.1);
}

.advantages__swiper .swiper-slide--extra {
  display: none;
}

.advantages__swiper .swiper-slide::before {
  content: "";
  position: absolute;
  display: block;
  top: 20px;
  left: 50%;
  width: 42px;
  height: 42px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  background-position: center;
  transform: translateX(-50%);
  border: 1px solid $base-background-color;
}

.advantages__swiper .swiper-slide--safe::before {
  background-image: url("../../../__spritemap#sprite-level-1-icon-view");
}

.advantages__swiper .swiper-slide--expert::before {
  background-image: url("../../../__spritemap#sprite-crown-icon-view");
}

.advantages__swiper .swiper-slide--boots::before {
  background-image: url("../../../__spritemap#sprite-boots-blue-view");
}

.advantages__swiper .swiper-slide--path::before {
  background-image: url("../../../__spritemap#sprite-path-icon-view");
}

.advantages__swiper .swiper-slide--nature::before {
  background-image: url("../../../__spritemap#sprite-leaf-icon-view");
}

.advantages__swiper h3 {
  margin: 0;
  margin-bottom: 14px;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.advantages__swiper p {
  margin: 0;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

@media (min-width: $tablet-width) {
  .advantages__wrapper {
    padding: 40px 45px 45px;
  }

  .advantages__title {
    margin-bottom: 50px;
    padding-top: 20px;
  }

  .advantages .swiper-button {
    display: none;
  }

  .advantages__swiper .swiper-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  .advantages__swiper .swiper-slide {
    padding: 29px 19px;
    width: 324px;
    min-height: 329px;
  }

  .advantages__swiper .swiper-slide:not(:last-child) {
    margin-bottom: 0;
  }

  .advantages__swiper h3 {
    margin-bottom: 15px;
    padding-top: 73px;
    font-size: 16px;
    line-height: 16px;
  }

  .advantages__swiper .swiper-slide::before {
    top: 29px;
    width: 48px;
    height: 48px;
  }

  .advantages__swiper p {
    font-size: 14px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    margin: 0 auto;
    padding: 100px 0 182px;
    max-width: 1440px;
  }

  .advantages__title {
    margin-bottom: 49px;
    padding-top: 35px;
  }

  .advantages__duplicate {
    top: 106px;
  }

  .advantages .swiper-button {
    display: block;
    top: 599px;
    right: 722px;
  }

  .advantages .swiper-button-next {
    right: 681px;
  }

  .advantages__swiper .swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
  }

  .advantages__swiper .swiper-slide {
    padding: 40px 19px;
    width: 380px;
  }

  .advantages__swiper .swiper-slide--extra {
    display: block;
  }

  .advantages__swiper .swiper-slide::before {
    top: 40px;
    width: 54px;
    height: 54px;
  }

  .advantages__swiper h3 {
    padding-top: 84px;
    font-size: 18px;
    line-height: 18px;
  }

  .advantages__swiper h3 br {
    display: none;
  }

  .advantages__swiper .swiper-button {
    display: block;
    top: 399px;
    right: 725px;
  }

  .advantages__swiper .swiper-button-next {
    right: 685px;
  }
}
