.button {
  display: inline-block;
  box-sizing: border-box;
  color: $base-white-color;
  background-color: $base-background-color;
  text-align: center;
  text-decoration: none;
  transition: all 0.6s;
}
