.contacts__title {
  margin-bottom: 12px;
}

.contacts__duplicate {
  position: absolute;
  top: 20px;
}

.contacts p {
  margin: 0;
  margin-bottom: 30px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  position: relative;
  padding-left: 32px;
}

.contacts__item::before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background-repeat: no-repeat;
  background-position: center;
}

.contacts__item--phone::before {
  background-image: url("../../../__spritemap#sprite-phone-icon-view");
}

.contacts__item--email::before {
  background-image: url("../../../__spritemap#sprite-mail-icon-view");
}

.contacts__item--address::before {
  background-image: url("../../../__spritemap#sprite-pin-stroke-icon-view");
}

.contacts__item:not(:last-child) {
  margin-bottom: 30px;
}

.contacts__line-name {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.contacts__link {
  font-style: normal;
  color: inherit;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .contacts__title {
    margin-bottom: 20px;
  }

  .contacts__duplicate {
    top: 40px;
  }

  .contacts > p {
    margin-bottom: 40px;
    padding-right: 198px;
  }

  .contacts__list {
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  .contacts__item {
    padding-left: 34px;
  }

  .contacts__item::before {
    width: 24px;
    height: 24px;
  }

  .contacts__item:not(:last-child) {
    margin: 0;
  }

  .contacts__line-name {
    margin-bottom: 6px;
    font-size: 16px;
    line-height: 16px;
  }

  .contacts__link {
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .contacts__title {
    margin-bottom: 25px;
  }

  .contacts__duplicate {
    top: 100px;
  }

  .contacts > p {
    margin-bottom: 50px;
    padding-right: 100px;
  }

  .contacts__list {
    flex-direction: column;
    gap: 35px;
  }

  .contacts__item {
    padding-left: 56px;
  }

  .contacts__item::before {
    width: 26px;
    height: 26px;
  }

  .contacts__line-name {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 18px;
  }

  .contacts__link {
    font-size: 16px;
    line-height: 24px;
  }
}
