.description {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 15px;
}

.description__item {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
}

.description__item dt {
  margin-bottom: 7px;
}

.description__item:first-child dt {
  width: 84px;
}

.description__item dd {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}
