.description {
  display: flex;
  justify-content: space-between;
}

.description__item {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  text-align: left;
}

.description__item dd {
  margin: 0;
  font-weight: 700;
  font-size: 13px;
  line-height: 13px;
}
