.footer__contacts {
  position: relative;
  padding: 20px 15px 30px;
}

.footer__copyright {
  display: block;
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
  color: inherit;
  text-decoration: none;
  text-align: center;
}
