.form {
  position: relative;
  padding: 174px 31px;
  color: $base-white-color;
  background-color: rgb(45, 56, 63, 0.5);
  text-align: center;
}

.form::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../../img/bg-image-form@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.form h2 {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
}

.form p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.form input {
  margin: 0;
  margin-bottom: 8px;
  padding: 17px 15px;
  width: 258px;
  font: inherit;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 2px;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__button {
  padding: 21px 19px;
  width: 258px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  border: none;
  cursor: pointer;
}
