.form {
  position: relative;
  padding: 178px 31px;
  color: $base-white-color;
  background-color: rgb(45, 56, 63, 0.2);
  text-align: center;
}

.form::before {
  content: "";
  position: absolute;
  display: block;
  width: 100em;
  height: 104%;
  top: -14px;
  left: -612px;
  background-image: url("../../img/bg-image-form@1x.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.form h2 {
  margin: 0;
  margin-bottom: 18px;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
}

.form p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  opacity: 0.8;
}

.form input {
  margin: 0;
  margin-bottom: 8px;
  padding: 14px 15px;
  width: 258px;
  font: inherit;
  font-size: 16px;
  line-height: 16px;
  border: 1px solid rgb($base-background-color, 0.1);
  border-radius: 2px;
}

.form input:hover {
  border: 1px solid $base-background-color;
}

.form input:focus {
  outline: none;
}

.form input:focus-visible {
  border: 1px solid $base-black-color;
}

.form--error input:invalid {
  border: 1px solid #ff121f;
}

.form input::-webkit-outer-spin-button,
.form input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.form__button {
  padding: 21px 19px;
  width: 258px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 186px 204px 181px;
    text-align: center;
  }

  .form::before {
    top: -51px;
    left: -391px;
    width: 100em;
    height: 790px;
  }

  .form h2 {
    margin-bottom: 23px;
    font-size: 25px;
    line-height: 25px;
  }

  .form p {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 24px;
  }

  p br {
    display: none;
  }

  .form input {
    margin-bottom: 11px;
    padding: 17px 30px;
    width: 360px;
  }

  .form__button {
    padding: 20px;
    width: 360px;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 292px 204px 290px;
  }

  .form::before {
    top: -1px;
    left: -2px;
    width: 103em;
    height: 100%;
  }

  .form h2 {
    margin-bottom: 17px;
    padding-top: 3px;
    font-size: 35px;
    line-height: 35px;
  }

  .form p {
    margin-bottom: 40px;
  }

  form {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .form input {
    margin: 0;
    padding: 16px 30px;
  }

  .form__button {
    width: 180px;
  }
}
