.header {
  background-color: $base-background-color;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  margin: 15px 15px 10px;
  color: $base-white-color;
}

@media (min-width: $tablet-width) {
  .header__navigation {
    align-items: center;
    margin: 20px 45px;
  }
}

@media (min-width: $desktop-width) {
  .header__navigation {
    margin: 0 auto;
    padding: 33px 120px 32px;
    max-width: 1440px;
  }
}
