.lower {
  padding: 23px 15px 20px;
}

.lower__logo {
  display: block;
  margin: auto;
  margin-bottom: 23px;
  width: 142px;
  height: 42px;
}

.lower__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px 50px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
}

.lower__item {
  text-align: center;
}

.lower__link {
  line-height: 14px;
  color: inherit;
  text-decoration: none;
}

.lower__item:nth-child(2) {
  grid-row: 2;
  grid-column: 1;
}

.lower__item:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.lower-social__list {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  list-style: none;
}

.lower-social__item {
  width: 30px;
  height: 30px;
  border: 1px solid rgb(45, 56, 63, 0.3);
}
