.navigation__wrapper {
  text-align: right;
}

.navigation__logo {
  display: block;
  margin-bottom: 13px;
  width: 142px;
  height: 42px;
  transition: all 0.6s;
}

.navigation__logo:hover {
  opacity: 0.8;
}

.navigation__logo:active {
  opacity: 0.6;
}

.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__toggle {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.navigation__toggle:hover {
  opacity: 0.8;
}

.navigation__toggle:active {
  opacity: 0.6;
}

.navigation__toggle > .hamburger,
.navigation__toggle > .hamburger::before,
.navigation__toggle > .hamburger::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 26px;
  height: 2px;
  background-color: $base-white-color;
  transition: all 0.2s;
}

.navigation__toggle > .hamburger::before {
  width: 16px;
  top: 8px;
}

.navigation__toggle > .hamburger::after {
  top: 16px;
}

.navigation__phone {
  font-weight: 600;
  line-height: 14px;
  color: inherit;
  text-decoration: none;
  transition: all 0.6s;
}

.navigation__phone:hover {
  color: rgb($base-white-color, 0.5);
}

.navigation__phone:focus {
  outline: none;
}

.navigation__phone:focus-visible {
  color: $base-black-color;
}

.navigation__phone:active {
  color: #1c3374;
}

@media (width >= 320px) and (width <= 1439px) {
  .navigation--open .navigation__list {
    position: absolute;
    display: block;
    padding: 30px 15px 28px;
    top: 100px;
    width: 100%;
    left: 0;
    background-color: $base-background-color;
    z-index: 2;
  }

  .navigation--open .navigation__link {
    display: block;
    padding-bottom: 22px;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    transition: all 0.4s;
  }

  .navigation--open .navigation__link:hover {
    color: #1c3374;
  }

  .navigation--open .navigation__link:active {
    color: #1c3374;
    opacity: 0.6;
  }

  .navigation__toggle--close {
    display: block;
  }

  .navigation__toggle--close > .hamburger {
    height: 0;
  }

  .navigation__toggle--close > .hamburger::before {
    top: 5px;
    width: 26px;
    transform: rotate(45deg);
  }

  .navigation__toggle--close > .hamburger::after {
    top: 5px;
    transform: rotate(-45deg);
  }
}


@media (min-width: $tablet-width) {
  .navigation__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 410px;
  }

  .navigation__logo {
    margin: 0;
  }

  .navigation__phone {
    font-size: 16px;
    line-height: 16px;
  }

  .navigation--open .navigation__list {
    padding: 50px 45px 44px;
    top: 82px;
  }

  .navigation--open .navigation__link {
    padding-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .navigation__wrapper {
    width: 100%;
  }

  .navigation__toggle {
    display: none;
  }

  .navigation__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 205px;
    height: 62px;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .navigation__link {
    padding: 3px 5px;
    font-size: 16px;
    line-height: 16px;
    color: inherit;
    text-decoration: none;
    transition: all 0.6s;
  }

  .navigation__link:hover {
    border-bottom: 1px solid $base-white-color;
  }

  .navigation__link:focus {
    outline: none;
  }

  .navigation__link:focus-visible {
    border: 1px solid $base-white-color;
  }

  .navigation__link:active {
    color: #1c3374;
    border: none;
  }

  .navigation__phone {
    font-size: 18px;
    line-height: 18px;
  }
}

