.navigation__wrapper {
  text-align: right;
}

.navigation__logo {
  display: block;
  width: 142px;
  height: 42px;
}

.navigation__list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

.navigation__toggle {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.navigation__toggle > .hamburger,
.navigation__toggle > .hamburger::before,
.navigation__toggle > .hamburger::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 26px;
  height: 2px;
  background-color: $base-white-color;
  transition: all 0.2s;
}

.navigation__toggle > .hamburger::before {
  width: 16px;
  top: 6px;
}

.navigation__toggle > .hamburger::after {
  top: 12px;
}

.navigation__phone {
  font-weight: 600;
  line-height: 14px;
  color: inherit;
  text-decoration: none;
}

