.reviews__wrapper {
  position: relative;
  padding-top: 20px;
}

.reviews__title {
  padding-top: 17px;
  padding-left: 15px;
  margin: 0;
}

.reviews__duplicate {
  position: absolute;
  top: 24px;
  left: 15px;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    z-index: 1;
  }

  .reviews::before,
  .reviews::after {
    content: "";
    position: absolute;
    display: block;
    right: -135px;
    top: 1205px;
    width: 788px;
    height: 263px;
    background-image: url("../../img/clouds-bg-trainers@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/clouds-bg-trainers@2x.png");
    }
  }

  .reviews::after {
    right: 163px;
    top: 704px;
    width: 1200px;
    height: 401px;
  }

  .reviews__wrapper {
    padding-top: 37px;
  }

  .reviews__title {
    padding: 23px 130px 10px 45px;
  }

  .reviews__duplicate {
    top: 45px;
    left: 45px;
  }
}

@media (min-width: $desktop-width) {
  .reviews::before,
  .reviews::after {
    right: -140px;
    top: 490px;
  }

  .reviews::after {
    right: 705px;
    top: 271px;
  }

  .reviews__wrapper {
    padding-top: 98px;
  }

  .reviews__title {
    padding-top: 47px;
    padding-left: 120px;
  }

  .reviews__duplicate {
    top: 106px;
    left: 120px;
  }

  .reviews .swiper-button {
    top: 147px;
  }
}
