.reviews__wrapper {
  position: relative;
  padding-top: 20px;
}

.reviews__title {
  padding-top: 17px;
  padding-left: 15px;
  margin: 0;
}

.reviews__duplicate {
  position: absolute;
  top: 24px;
  left: 15px;
}

.reviews .reviews__swiper {
  padding: 15px 15px 0;
}

.reviews__swiper .swiper-slide {
  padding: 19px 19px 16px;
  border: 1px solid $base-white-color;
  box-shadow: 0 0 20px 0 rgb(28, 51, 116, 0.1);
  background-color: $base-white-color;
}


.reviews__swiper p {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 12px;
  line-height: 18px;
}

.reviews__swiper .swiper-button {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    position: relative;
    z-index: 1;
  }

  .reviews::before,
  .reviews::after {
    content: "";
    position: absolute;
    display: block;
    right: -135px;
    top: 1205px;
    width: 788px;
    height: 263px;
    background-image: url("../../img/clouds-bg-trainers@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/clouds-bg-trainers@2x.png");
    }
  }

  .reviews::after {
    right: 163px;
    top: 704px;
    width: 1200px;
    height: 401px;
  }

  .reviews__wrapper {
    padding-top: 37px;
  }

  .reviews__title {
    padding: 23px 130px 10px 45px;
  }

  .reviews__duplicate {
    top: 45px;
    left: 45px;
  }

  .reviews .reviews__swiper {
    padding: 25px 45px 40px;
  }

  .reviews__swiper .swiper-slide {
    display: flex;
    padding: 19px;
    width: 565px;
    box-shadow: 0 0 30px 0 rgb(28, 51, 116, 0.1);
  }
}

@media (min-width: $desktop-width) {
  .reviews::before,
  .reviews::after {
    right: -140px;
    top: 490px;
  }

  .reviews::after {
    right: 705px;
    top: 271px;
  }

  .reviews__wrapper {
    margin: 0 auto;
    padding-top: 98px;
    max-width: 1440px;
  }

  .reviews__title {
    padding-top: 47px;
    padding-left: 120px;
  }

  .reviews__duplicate {
    top: 106px;
    left: 120px;
  }

  .reviews .swiper-button {
    top: 147px;
  }

  .reviews .reviews__swiper {
    padding: 28px 130px 87px;
  }

  .reviews__swiper .swiper-button {
    top: -63px;
    right: 161px;
  }

  .reviews__swiper .swiper-button-next {
    right: 120px;
  }

  .reviews__swiper .swiper-slide {
    padding-right: 40px;
    width: 700px;
  }

  .reviews__swiper p {
    margin: 0;
    font-size: 14px;
    line-height: 22px;
  }

  .reviews__swiper p:first-child {
    margin-bottom: 8px;
  }

  .reviews__swiper p:last-of-type {
    margin: 0;
  }
}
