.slide__img {
  margin-bottom: 20px;
}

.slide__name {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}

.slide__age {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}

@media (min-width: $tablet-width) {
  .slide__text {
    width: 299px;
  }

  .slide__name {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 13px;
  }
}

@media (min-width: $desktop-width) {
  .slide__img {
    margin: 0;
  }

  .slide__text {
    width: 352px;
  }
}
