.slide__img {
  margin-bottom: 20px;
}

.slide__name {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;
  font-size: 12px;
  line-height: 12px;
}

.slide__age {
  font-weight: 300;
  font-size: 12px;
  line-height: 12px;
}
