.swiper--training {
  position: relative;
  margin-bottom: 25px;
}

.swiper--training img {
  margin-bottom: 15px;
  object-fit: cover;
}

.swiper--training p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.swiper--training .swiper-slide {
  padding: 15px;
  min-height: 356px;
  background-color: $base-white-color;
  border: 1px solid rgb(2, 102, 193, 0.1);
}

.swiper--training .swiper-button {
  display: none;
}

@media (min-width: $tablet-width) {
  .swiper--training .swiper-button {
    top: -55px;
    right: 41px;
  }

  .swiper--training .swiper-button-next {
    right: 0;
  }

  .swiper--training .swiper-slide {
    width: 212.6px;
    min-height: 388px;
  }
}

@media (min-width: $desktop-width) {
  .swiper--training {
    margin-bottom: 56px;
  }

  .swiper--training .swiper-slide {
    width: 285px;
    min-height: 356px;
  }
}
