.swiper-wrapper {
  position: relative;
}

@media (min-width: $tablet-width) {
  .swiper-button {
    position: absolute;
    display: block;
    top: -60px;
    right: 41px;
    width: 37px;
    height: 35px;
    background-color: $base-background-color;
    background-image: url("../../../__spritemap#sprite-arrow-left-icon-view");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 13px 8px;
    cursor: pointer;
  }

  .swiper-button-next {
    right: 0;
    transform: rotate(180deg);
  }

  .swiper-button--deactivated {
    background-color: #999999;
    cursor: default;
  }
}

