.swiper--hero {
  color: $base-white-color;
  background-color: rgba($base-background-color, 0.8);
  text-align: center;
}

.swiper--hero .swiper-slide--kavkaz {
  background:
    linear-gradient(112.1deg, rgb(15, 20, 41, 0.33) 17.23%, rgb(15, 20, 41, 0) 94.93%),
    url("../../img/kavkaz-hero-bg@1x.png");

  @media (resolution >= 2dppx) {
    background:
      linear-gradient(112.1deg, rgb(15, 20, 41, 0.33) 17.23%, rgb(15, 20, 41, 0) 94.93%),
      url("../../img/kavkaz-hero-bg@2x.png");
  }
}

.swiper--hero .swiper-slide--kamchatka {
  background:
    linear-gradient(112.1deg, rgb(15, 20, 41, 0.33) 17.23%, rgb(15, 20, 41, 0) 94.93%),
    url("../../img/kamchatka-hero-bg@1x.jpg");

  @media (resolution >= 2dppx) {
    background:
      linear-gradient(112.1deg, rgb(15, 20, 41, 0.33) 17.23%, rgb(15, 20, 41, 0) 94.93%),
      url("../../img/kamchatka-hero-bg@2x.jpg");
  }
}

.swiper--hero .swiper-slide--altai {
  background:
    linear-gradient(112.1deg, rgb(15, 20, 41, 0.33) 17.23%, rgb(15, 20, 41, 0) 94.93%),
    url("../../img/altai-hero-bg@1x.png");

  @media (resolution >= 2dppx) {
    background:
      linear-gradient(112.1deg, rgb(15, 20, 41, 0.33) 17.23%, rgb(15, 20, 41, 0) 94.93%),
      url("../../img/altai-hero-bg@2x.png");
  }
}

.swiper--hero .swiper-wrapper {
  position: relative;
}

.swiper--hero .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 15px 56px;
  min-height: 568px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
}

.swiper--hero h2 {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 800;
  font-size: 26px;
  line-height: 26px;
}

.swiper--hero p {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  font-size: 15px;
}

.swiper--hero .swiper-pagination {
  position: absolute;
  display: flex;
  gap: 20px;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  z-index: 1;
}

.swiper--hero .swiper-pagination-bullet {
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $base-white-color;
  border-radius: 50%;
  cursor: pointer;
}

.swiper--hero .swiper-pagination-bullet-active {
  background-color: $base-white-color;
}

@media (min-width: $tablet-width) {
  .swiper--hero .swiper-slide {
    padding: 242px 45px 100px;
    min-height: 1034px;
  }

  .swiper--hero .swiper-slide--kamchatka {
    position: relative;
    justify-content: flex-start;
    padding-top: 137px;
  }

  .swiper--hero .swiper-slide--kamchatka::after {
    content: "";
    position: absolute;
    display: block;
    bottom: 197px;
    left: 50%;
    width: 442px;
    height: 365px;
    transform: translateX(-50%);
    background-image: url("../../img/photo-cards-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/photo-cards-tablet@2x.png");
      background-size: 442px;
      height: 365px;
    }
  }

  .swiper--hero h2 {
    font-size: 56px;
    line-height: 56px;
  }

  .swiper--hero p {
    margin-bottom: 35px;
    padding: 0 89px;
    font-size: 17px;
    line-height: 24px;
  }

  .swiper--hero .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .swiper--hero .swiper-slide {
    padding: 120px 376px 80px 120px;
    min-height: 800px;
  }

  .swiper--hero .swiper-slide--kamchatka::after {
    content: "";
    bottom: 154px;
    left: 910px;
    width: 410px;
    height: 459px;
    transform: translateX(0);
    background-image: url("../../img/photo-cards-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: center;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/photo-cards-desktop@2x.png");
      background-size: 410px;
      height: 459px;
    }
  }

  .swiper--hero h2 {
    margin-bottom: 22px;
    font-size: 77px;
    line-height: 77px;
    text-align: left;
  }

  .swiper--hero p {
    margin-bottom: 38px;
    padding: 0;
    padding-right: 475px;
    text-align: left;
  }

  .swiper--hero .swiper-pagination {
    left: 88.2%;
    bottom: 93px;
  }
}
