.swiper--gallery .swiper-button {
  display: none;
}

.swiper--gallery .swiper-slide--double {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

@media (min-width: $tablet-width) {
  .swiper--gallery .swiper-button {
    display: block;
    top: -55px;
    right: 86px;
  }

  .swiper--gallery .swiper-button-next {
    right: 45px;
  }
}

@media (min-width: $desktop-width) {
  .swiper--gallery .swiper-wrapper {
    margin-bottom: -2px;
  }
}
