.tours {
  position: relative;
  overflow: hidden;
}

.tours::after {
  content: "";
  position: absolute;
  display: block;
  width: 346px;
  height: 595px;
  top: 71px;
  right: -204px;
  background-image: url("../../img/clouds-bg-tours@1x.png");
  background-size: cover;
  background-position: center;

  @media (resolution >= 2dppx) {
    background-image: url("../../img/clouds-bg-tours@2x.png");
  }
}

.tours__wrapper {
  padding: 20px 15px;
}

.tours__duplicate {
  position: absolute;
  top: 23px;
  left: 15px;
}

.tours__button {
  position: relative;
  display: block;
  margin: auto;
  padding: 10px 28px 10px 10px;
  width: 212px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: $base-black-color;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.6s;
  z-index: 3;
}

.tours__button::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  right: 2px;
  width: 20px;
  height: 20px;
  background-color: $base-black-color;
  mask-image: url("../../../__spritemap#sprite-arrow-icon-view");
  mask-repeat: no-repeat;
  mask-size: 17px 14px;
  mask-position: center;
  transition: all 0.6s;
}

.tours__button:hover {
  color: rgb($base-background-color, 0.1);
}

.tours__button:hover::after {
  background-color: rgb($base-background-color, 0.1);
}

.tours__button:focus {
  outline: none;
}

.tours__button:focus-visible {
  color: $base-background-color;
}

.tours__button:focus-visible::after {
  background-color: $base-background-color;
}

.tours__button:active {
  color: #1c3374;
}

.tours__button:active::after {
  background-color: #1c3374;
}

@media (min-width: $tablet-width) {
  .tours::after {
    content: none;
  }

  .tours__wrapper {
    padding: 40px 45px;
  }

  .tours__duplicate {
    top: 45px;
    left: 45px;
    z-index: 2;
  }

  .tours__button {
    padding: 10px 0;
    font-size: 16px;
    line-height: 16px;
    background-position: 200px 11px;
  }

  .tours__button::after {
    top: 9px;
    right: -11px;
  }
}

@media (min-width: $desktop-width) {
  .tours__wrapper {
    padding: 100px 120px;
  }

  .tours__duplicate {
    top: 104px;
    left: 120px;
  }
}
