.training {
  position: relative;
}

.training__wrapper {
  position: relative;
  padding: 18px 15px 20px;
  z-index: 1;
}

.training__title {
  margin-bottom: 17px;
}

.training__duplicate {
  position: absolute;
  top: 20px;
  left: 15px;
}

.training__swiper {
  position: relative;
  margin-bottom: 25px;
}

.training__swiper img {
  margin-bottom: 15px;
  object-fit: cover;
}

.training__swiper p {
  margin: 0;
  font-size: 12px;
  line-height: 16px;
}

.training__swiper .swiper-slide {
  padding: 15px;
  min-height: 356px;
  background-color: $base-white-color;
  border: 1px solid rgb(2, 102, 193, 0.1);
}

.training__swiper .swiper-button {
  display: none;
}

.training__wrapper > p {
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}

.training__wrapper > p br {
  display: none;
}

.training h3 {
  margin: 0;
  margin-bottom: 23px;
  font-weight: 800;
  font-size: 22px;
  line-height: 22px;
}

.training__trainer-info {
  display: flex;
  justify-content: space-between;
}

.training__trainer-info h4 {
  position: relative;
  margin: 0;
  margin-bottom: 15px;
  padding-right: 24px;
  line-height: 16px;
}

.training__social-link {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid rgb(45, 56, 63, 0.3);
  cursor: pointer;
  transition: all 0.6s;
}

.training__social-link:hover {
  border: 1px solid $base-black-color;
}

.training__social-link:focus {
  outline: none;
}

.training__social-link:focus-visible {
  border: none;
}

.training__social-link:active {
  background-color: $base-background-color;
  border: 1px solid $base-background-color;
}

.training__social-link::after {
  content: "";
  position: absolute;
  display: block;
  top: 7px;
  left: 4px;
  width: 14px;
  height: 8px;
  background-color: $base-black-color;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("../../../__spritemap#sprite-vk-icon-view");
  transition: all 0.6s;
}

.training__social-link:active::after {
  background-color: $base-white-color;
}

@media (min-width: $tablet-width) {
  .training::before {
    content: "";
    position: absolute;
    display: block;
    right: -177px;
    top: -729px;
    width: 602px;
    height: 1630px;
    background-image: url("../../img/clouds-bg-tours@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/clouds-bg-tours@2x.png");
    }
  }

  .training::after {
    content: "";
    position: absolute;
    display: block;
    width: 840px;
    height: 280px;
    bottom: 158px;
    left: 200px;
    background-image: url("../../img/clouds-bg-trainers@1x.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;

    @media (resolution >= 2dppx) {
      background-image: url("../../img/clouds-bg-trainers@2x.png");
    }
  }

  .training__wrapper {
    padding: 40px 45px;
    max-width: 1100px;
  }

  .training__title {
    margin-bottom: 24px;
  }

  .training__duplicate {
    top: 40px;
    left: 45px;
  }

  .training__swiper .swiper-button {
    top: -55px;
    right: 41px;
  }

  .training__swiper .swiper-button-next {
    right: 0;
  }

  .training__swiper .swiper-slide {
    width: 212.6px;
    min-height: 388px;
  }

  .training__wrapper > p {
    font-size: 16px;
    line-height: 24px;
  }

  .training__wrapper > p br {
    display: block;
  }

  .training h3 {
    margin-bottom: 38px;
    font-size: 25px;
    line-height: 25px;
  }

  .training .swiper-button {
    top: 218px;
  }
}

@media (min-width: $desktop-width) {
  .training::before {
    top: -939px;
    right: 0;
  }

  .training::after {
    bottom: 0;
    left: 693px;
  }

  .training__wrapper {
    margin: 0 auto;
    padding: 40px 120px 30px;
    max-width: 1440px;
  }

  .training__title {
    margin-bottom: 33px;
  }

  .training__duplicate {
    top: 45px;
    left: 120px;
  }

  .training__swiper {
    margin-bottom: 56px;
  }

  .training__swiper .swiper-slide {
    width: 285px;
    min-height: 356px;
  }

  .training__wrapper > p {
    padding-right: 380px;
    margin-bottom: 60px;
  }

  .training__wrapper > p br {
    display: none;
  }

  .training h3 {
    margin-bottom: 16px;
    font-size: 35px;
    line-height: 35px;
  }

  .training .swiper-button {
    top: 236px;
  }
}
