@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../../fonts/Montserrat-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: url("../../fonts/Montserrat-Bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: url("../../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-display: swap;
}
