$primary-font: "Montserrat", "Arial", sans-serif;
$base-black-color: #2d383f;
$base-white-color: #ffffff;
$base-background-color: #0266c1;
$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
