@import "vendor/normalize";
@import "./common/variables";
@import "./common/global";
@import "./common/fonts";
@import "./blocks/visually-hidden";
@import "./blocks/button";
@import "./blocks/page";
@import "./blocks/header";
@import "./blocks/navigation";
@import "./blocks/hero";
@import "./blocks/swiper";
@import "./blocks/details";
@import "./blocks/tours";
@import "./blocks/title";
@import "./blocks/duplicate";
@import "./blocks/info";
@import "./blocks/description";
@import "./blocks/training";
@import "./blocks/process";
@import "./blocks/about";
@import "./blocks/reviews";
@import "./blocks/slide";
@import "./blocks/adv";
@import "./blocks/gallery";
@import "./blocks/form";
@import "./blocks/footer";
@import "./blocks/contacts";
@import "./blocks/map";
@import "./blocks/lower";
